@import "tailwindcss";

/* Tipografías Poppins */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("./assets/fonts/Poppins/Poppins-Light.ttf") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./assets/fonts/Poppins/Poppins-Medium.ttf") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./assets/fonts/Poppins/Poppins-SemiBold.ttf") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/Poppins/Poppins-Bold.ttf") format("woff2");
}

@theme {
  --color-rojo-una: #CD1719;
  --color-rojo-una-2: #C32B30;
  --color-gris-una: #A7A7A9;
  --color-azul-una: #034991;
  --color-blanco-una: #FFFFFF;
  --color-blanco-una-2: #F8F9FA;
  --color-negro-una: #000000;

  --font-poppins: 'Poppins', sans-serif;
}

/* Estándar de estilos globales */

  @layer base {
  body {
    @apply font-poppins bg-blanco-una-2 text-negro-una;
  }

  h1 {
    @apply font-poppins text-3xl font-bold text-rojo-una;
  }

  h2 {
    @apply font-poppins text-xl font-semibold text-azul-una;
  }

  p {
    @apply font-poppins text-base text-gris-una;
  }

  button {
    @apply bg-rojo-una text-white font-poppins font-semibold rounded px-4 py-2;
  }
}
